.header{
	width: 100%;
	height: 40px;
	background: #333;
}
.header1{
	width: 1200px;
	height: 40px;
	margin: 0 auto;
}
.header2{
	width: 597px;
	height: 40px;
	float: left;
	overflow: hidden;
}
.header a{
	color: #b0b0b0;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
	margin-left: 10px;
}
.header a:hover{
	color:white;
}
.header3{
	width:100px;
	height: 40px;
	float: right;
	background: #424242;
	position: relative;
	text-align: center;
	line-height: 40px;
}
.header3:hover{
	background: white;
	color: red;
} 
.gouwuche:hover{
	color:#FF6700; 
}
.nxlspan{
	float: right;
	font-size:12px;
	color: #ccc;
}
.headertu{
	width: 260px;
	height: 40px;
	float: right;
}
.main1a{
	color: white;
	display: block;
	width: 100%;
	height: 42px;
}
.header4{
	/* width: 142px; */
	height: 40px;
	float: left;
	margin-right: 10px;
}
.nav{
	width: 1200px;
	height: 100px;
	margin: 0 auto;
}
.logo{
	width: 50px;
	height: 50px;
	float: left;
	margin-top: 25px;
	/* line-height: 200px; */
}
.nav2{
	width: 650px;
	height: 88px;
/* 	background: blue; */
	float: left;
	margin-left:190px;
}
.navabox{
	width: 100%;
	height: 100px;
	overflow: hidden;
}
.nava{
	color: #000;
	line-height: 100px;
	text-align: center;
	float: left;
	margin-right: 14px;
	color: #333;
}
.nava:hover{
	color:red;
}
.nava1{
	color: #000;
	line-height: 100px;
	float: left;
	margin-right: 14px;
	color: #333;
}
.nava1:hover{
	color: red;
}
.nav-box{
	width:100%;
	height:100px;
	position: relative;
}
.nav3{
	width: 297px;
	height: 55px;
	float: right;
	margin-top: 22px;
	margin-right:0px;
}
.display-none{
	display: none;
}
.sousuo1{
	width: 245px; 
	height: 50px;
	border:1px solid #ccc;
	padding: 0 10px;
	outline: none;
}
.sousuo{
	float: right;
	width: 52px;
	height: 50px;
	margin: 0;
	border:1px solid #ccc;
	border-left:none;
	background: white;
	outline: none;
}
.sousuo:hover{
	background-color: #ff3300;
}
.main{
	width: 1200px;
	height: 460px;
	margin: 0 auto;
	position: relative;
}
.banner-box{
	width: 100%;
	height: 100%;
}
.banner-box li{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.main1{
	width: 234px;
	height: 100%;
	float: left;
	padding: 20px 0 20px 0;
	background-color:black;
	position: absolute;
	left: 0;
	bottom: 0;
	top: 0;
	margin:auto;

}
.main-bolock{
	opacity: 1;
}
.main1 li{
	width: 100%;
	height: 42px;
	text-align: left;
	padding-left: 20px;
	line-height: 42px;
	color: white;
	padding-right: 20px;
}
.main11 li{
	width: 34px;
	height: 42px;
	text-align: right;
	margin-right: 20px;
	line-height: 42px;
	color: white;
}
li.main1hover {
	background-color: #ff6700;
}
.main1-span{
	float: right;

}
.shouji1{
	width: 1200px;
	height: 170px;
	margin: 0 auto;
	background-color:#ffbd4c 
	margin-top: 15px;
	position: relative;
}
.shouji2{
	width: 234px;
	height: 170px;
	background: #5f5750;
	position: absolute;
	left: 0;
}
.stop1{
	width: 234px;
	height: 85px;
	/* background: blue; */
}
.iconfont1{
	font-size: 60px !important; 
	color: #ff0033;
	line-height: 143px;
}
.stop11{
	width: 76px;
	height: 82px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float:left;
	text-align: center;
	padding-top: 10px;
}
.stop12{
	width: 76px;
	height: 82px;
	border-bottom: 1px solid #ccc;
	text-align: center;
	float:left;
	padding-top: 10px;
}
.stext1{
	width: 70px;
	height: 64px;
	font-size: 8px;
	text-align: center;
}
.stop13{
	width: 76px;
	height: 82px;
	border-right: 1px solid #ccc;
	text-align: center;
	float:left;
	padding-top: 15px;
}
.stop14{
	width: 76px;
	height: 82px;
	text-align: center;
	float:left;
	padding-top: 15px;
}
.shouji3{
	width: 951px;
	height: 170px;
	float: right;
	/* background: red; */
	position: absolute;
	right: 0;
}
.stupian1{
	width: 307px;
	height: 170px;
	float: right;
	/* background: pink; */}
.stupian1:hover{
	box-shadow: 0px 10px 50px 0px #979797;
}
.stupian2{
	width: 307px;
	height: 170px;
	float: left;
	margin-right: 15px;
	/* background: #520; */
}
.stupian2:hover{
	box-shadow: 0px 10px 50px 0px #979797;
}
.mingxingtext{
	width: 1200px;
	height: 58px;
	margin: 0 auto;
	margin-top: 30px;
	font-size: 22px;
	line-height: 58px;
    color: #333;
}
.mingxingdanpinbax{
	width: 1200px;
	height: 380px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.mingxingdanpinbax1{
	width:100%;
	height:100%;
}
.mingxingdanpin1{
	width: 2480px;
	height: 380px;
	position: absolute;
	left: 0;
	top:0;
	overflow: hidden;
}
.li-block{
	display:block;
}
.mtupian{
	width: 229px;
	height: 340px;
	float: left;
	margin-right: 14px;
	background:#FAFAFA;
}
.mboder1{
	border-top: 2px solid #ffac13;
}
.mboder2{
	border-top: 2px solid #33ff00;
}
.mboder3{
	border-top: 2px solid #3333ff;
}
.mboder4{
	border-top: 2px solid #ff3300;
}
.mboder5{
	border-top: 2px solid #00cc00;
}
.mtupian1{
	width: 226px;
	height: 340px;
	float: right;
	background:#FAFAFA;
}
.jticon2{
	float: right;
	width: 48px;
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}
.jticon{
	width: 50%;
	height: 24px;
	border: 1px solid #ccc;
	cursor: pointer;
	line-height: 24px;
	text-align: center;
	color: #AEBDCC;
}
.jticon-border{
	border-left: 0;
}
.jtxuanzhong{
	color: black;
}
.mtu1{
	width: 160px;
	height: 160px;
	margin: 0 auto;
	margin-top: 40px;
	/* background: pink; */
}
.dsmtu{
	width: 160px;
	height: 160px;
	margin: 0 auto;
	margin-top: 40px;
	/* background: pink; */
}
.mtext{
	text-align: center;
	margin-top: 20px;
	font-weight: bold;
	color: black;
	font-size: 14px;
}
.mtext a{
	color: black;
}
.mtext1{
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
}
.dstext{
	text-align: center;
	margin-top: 10px;
	font-size: 12px;
	color: #B0B0B0;
}
.dsmtu img{
	width: 100%;
	height: auto;
}
.mtext2{
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	color: #ff6600;
	font-size: 14px;
}
.dibu{
	width: 100%;
	background: #F5F5F5;
	margin: 0 auto;
	padding-top:70px;
	padding-bottom: 50px;
}
.dibu2{
	width: 1200px;
	height: 5248px;
	background: #F5F5F5;
	margin: 0 auto;
}
.jiadian{
	width: 1200px;
	height: 58px;
   	font-size: 22px;
   	line-height: 58px;
}
.jiadian1{
	width: 300px;
	height: 58px;
	float: right;
   	font-size: 16px;
	padding: 11px;
}
.jiadianlise{
	color: red;
	border-bottom: 1px solid red;
	cursor: pointer;
	transition: color 0.5s,border-bottom 1s;
}
.jiadian2{
	height: 26px;
	float: left;
	margin-left: 30px;
	line-height: 28px;
}
.jiadian3{
	height: 26px;
	float: right;
	line-height: 28px;
	margin-left: 20px;
}
.jdnr1{
	width: 1200px;
	height: 614px;
}
.jdnr2{
	width: 228px;
	height: 614px;
	float: left;
	transition: all 0.5s ease-out;
}
.jdnr2:hover{
	box-shadow: 0px 10px 50px 0px #979797;
}
.jdnr3{
	width: 958px;
	height: 614px;
	float: right;
	display: none;
}
.jdtupian{
	width: 228px;
	height: 300px;
    background: white;
    position: relative;
	padding-top: 30px;
	float: left;
	margin-right: 15px;
	overflow: hidden;
	transition: all 0.5s linear; 
}
.jdtupian:hover{
	box-shadow: 0px 10px 50px 0px #979797;
}
.jdzz{
	width: 228px;
	height: 80px;
	background: #FF6A05;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -40px;
	margin: auto;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.jdzztext{
	width: 180px;
	height: 18px;
	font-size: 12px;
	text-align: left;
	margin: 0 auto;
	color: white;
}
.jdzztext1{
		margin-top: 15px;
}
.jdzztext2{
	width: 180px;
	font-size: 12px;
	text-align: left;
	margin: 0 auto;
	color: #ccc;
	margin-top: 5px;
}
.jdtupian1{
	width: 150px;
    height: 150px;
   /*  background: pink; */
    margin-top: 30px;
    margin: 0 auto;
}
.jdtupian2{
	width: 228px;
	height: 300px;
    background: white;
	padding-top: 30px;
	float: right;
}
.jdtupian2:hover{
	box-shadow: 0px 10px 50px 0px #979797;
}
.jiadiantupian11{
	margin-top: 14px;
}
.jdtupian3{
	width: 228px;
	height: 300px;
	float: right;
}
.jdtupian4{
	width: 228px;
	height: 143px;
	background: white;
}
.jdtupian4:hover{
	box-shadow: 0px 10px 50px 0px #979797;
}
.jdtupian5{
	width: 228px;
	height: 143px;
	background: white;
	margin-top: 14px;
}
.jdtupian5:hover{
	box-shadow: 0px 10px 50px 0px #979797;
}
.jdtupian6{
	width: 94px;
	height: 21px;
	text-overflow: ellipsis;
	float: left;
	margin-left:30px;
	margin-top: 40px;
	overflow: hidden;
}
.jdtupian7{
	width: 94px;
	height: 21px;
	float: left;
	margin-left:30px;
	margin-top: 10px;
	clear: both;
	color:#FF6700;
}
.jdtupian8{
	width: 80px;
	height: 80px;
	float: right;
	margin-right: 20px;
	margin-top: -60px;
	clear: both;
}
.jdtext9{
		width: 94px;
	height: 21px;
	float: left;
	margin-left:30px;
	margin-top: 10px;
	clear: both;
}
.jdtext10{
	width: 80px;
	height: 80px;
	float: right;
	margin-right: 20px;
	clear: both;
}
.zhineng{
	width: 1200px;
	height: 58px;
	margin-top: 30px;
/* 	background: black; */
   	font-size: 22px;
   	line-height: 58px;
}
.zhineng111{
	width: 326px;
	height: 42px;
	float: right;
	font-size: 16px;
	padding-top: 16px;
}
.zhineng112{
	height: 100%;
	float: left;
	margin-left: 30px;
	line-height: 28px;
}
.zhineng113{
	height: 100%;
	float: right;
	line-height: 28px;
}
.zhineng1{
	width: 228px;
	height: 300px;
	float: left;
}
.zhineng2{
	margin-top: 14px;
	width: 228px;
	height: 300px;
	float: left;
}
.zhineng3{
	width: 958px;
	height: 614px;
	float:right;
	display: none;
}
.dapei{
	width: 328px;
	height: 58px;
	float: right;
   	font-size: 16px;
	padding-top: 16px;
}
.dapei1{
	height: 26px;
	float: left;
	margin-left: 30px;
	line-height: 30px;
}
.dapei2{
	height: 26px;
	float: right;
	line-height: 30px;
}
.zntext1{
	text-align: center;
	margin-top: 5px;
	font-size: 14px;
	color: #ff6600;
	font-size: 14px;
}
.zntext2{
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
    color: #B0B0B0;
}
.iconfont2{
	font-size: 18px !important;
	padding-top: 20px;
}
.peijian1{
	width: 296px;
	height: 42px;
	float: right;
   	font-size: 16px;
	padding-top: 16px;
}
.peijian2{
	height: 26px;
	float: left;
	margin-left: 30px;
	line-height: 28px;
}
.peijian3{
	height: 26px;
	float: right;
	/* background: pink; */
	margin-left: 30px;
	line-height: 28px;
}
.zhoubian{
	width: 342px;
	height: 42px;
	float:right;
	font-size: 16px;
   	line-height: 58px;
	padding-top: 16px;
}
.zhoubian1{
	height: 26px;
	float: left;
	margin-left: 30px;
	line-height: 26px;
}
.zhoubian2{
	height: 26px;
	float: right;
	line-height: 26px;
}
.weinibox{
	width: 1200px;
	height: 300px;
	overflow: hidden;
	position: relative;
}
.weinibox1{
	width:100%;
	height:100%;
}
.weini{
	width: 2400px;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
}
.weini1{
	width: 232px;
	height: 100%;
	float: left;
	margin-right: 10px;
	background-color: white;
	transition: all 0.5s ease-out;
}
.weini1:hover{
	box-shadow: 0px 10px 50px 0px #979797;
}
.weini2{
	width: 232px;
	height: 100%;
	float: right;
	background-color: white;
	transition: all 0.5s ease-out;
}
.weini3{
	width: 140px;
	height: 140px;
	margin: 0 auto;
	margin-top: 50px;
	background: pink;
}
.weinitext{
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
}
.weinitext1{
	margin-top: 10px;
	color: #ff6600;
	text-align: center;
	font-size: 14px;
}
.weinitext2{
	margin-top: 5px;
	color: #ccc;
	text-align: center;
	font-size: 14px;
}
.repin{
	width: 1200px;
	height: 400px;
	margin: 0 auto;
}
.repin1{
	width: 292px;
	height: 400px;
	background: white;
	float: left;
	margin-right: 10px;
	transition: all 0.5s ease-out;
}
.repin2{
	width: 292px;
	height: 400px;
	background: white;
	float: right;
	transition: all 0.5s ease-out;
}
.repin3{
	width: 100%;
	height: 220px;
}
.repin4{
	width: 240px;
	height: 72px;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 14px;
	text-align: left;
}
.repin5{
	width: 240px;
	height: 18px;
	margin: 0 auto;
	text-align: left;
	font-size: 12px;
	line-height: 18px;
}
.repin6{
	width: 236px;
	height: 21px;
	margin: 0 auto;
	text-align: left;
	font-size: 14px;
	line-height: 21px;
	margin-top: 10px;
}
.repin7{
	color: #ff6700;
	text-align: right;
}
.shangbiao{
	width: 100%;
	background: #F5F5F5;
	height: 150px;
}
.shangbiao1{
	width: 1200px;
	margin: 0 auto;
	padding-top: 30px;
}
.shangbiao2{
	width: 100%;
	height: 57px;
}
.shangbiao11{
	width: 57px;
	height: 100%;
	float: left;
}
.shangbiaotext{
	width: 742px;
	height: 19px;
	float: left;
	text-align: left;
	margin-left: 5px;
	font-size: 12px;
}
.shangbiaotext1{
	width: 742px;
	height: 36px;
	float: left;
	text-align: left;
	margin-left: 5px;
	font-size: 10px;
	color: #ccc;
}
.shangbiaotu{
	width: 360px;
	height: 28px;
	float: right;
}
.shangbiaotu1{
	width: 85px;
	height: 100%;
	float: left;
	margin-left: 5px;
}
.shangbiaotu2{
	width: 85px;
	height: 100%;
	float: right;
}
.shangbiaox{
	width: 267px;
	height: 19px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	font-size: 20px;
	color: #ccc;
}
.stop1 a:hover{
	color: white;
}
.stop1 a{
	color: #ccc;
}
.shangbiaotext a{
	color: black;
}
.shangbiao a:hover{
	color: red;
}
.shangbiaotext1 a{
	color: #ccc;
}
.li-block{
	display:block;
}
.li-none{
	display: none;
}
.header3:hover{
	background-color: #fff; 
}
.main1 li:hover{
	background-color: #FF6700;
}
.bank{
	width: 41px;
	height: 69px;
	background-color: red;
	z-index:50;
}
.hdk{
	width: 234px;
	height: 77px;
	left: 0;
	bottom: 0;
	background-color: #000;
	z-index: 10;
}